# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.venv/
*.sqlite3

# Node
node_modules/
dist/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
package-lock.json
